.footer {
    background-color: #7fba02;
    height: 20vh;
    color: white;
    padding: 2em 7em 2em 7em;
    clear: both;
}

.footer img {
    width: 20vw;
    padding-bottom: 2em;
}

.left-footer {
    float: left;
}

.right-footer {
    float: right;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.footer a:hover {
    border-bottom: 2px solid white;
}