<div class="header-nav">
    <a class="navbar-item" routerLink='../login' >
      <img src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">
    </a> 
    <button class="sidebarbutton" >
      &#9776;
    </button>
    
  </div>
  <app-sidepanel class="sidepannelview"></app-sidepanel>


  <div class="content-wrapper">
    <a class="back-link" routerLink='../home'>❮ Back to calendar</a>
    <h1>Stress Survey</h1><br>
    <h2>How have you been doing lately?</h2>
    <h3>Perceived Stress Scale</h3>
    <h4>background on survey</h4>
    <button class="nav-link" routerLink='../questions' class="change-button">Start Survey</button>



     