<app-banner></app-banner>
<router-outlet></router-outlet>


<div id = "wrapper">
<div class="intro">
    <h1 class="page_heading">What makes Tightrope Different?</h1>
    <p>Yes, there are a variety of scheduler applications that manage the day-to-day operations of people's lives. 
    <i>Tightrope</i> is different - it places emphasis on mental wellness and prioritizes an optimized work:life balance. 
    </p>
    <p>
    To mantain a healthy work:life balance, individuals must be active in developing their mental wellness and understanding common stresses in their lives.
    Because of this, the developers of <i>Tightrope</i> have built the application on the foundation of three principles: <font color=#7FBA00>Intentionality</font>, 
    <font color=#7FBA00>Education</font>, and <font color=#7FBA00>Mindfulness</font>.
    </p>
    <h2>By employing foundational principles, <i>Tightrope</i> aims to support indivuduals in unlocking their true potential by promoting a healthy lifestyle.</h2>
  </div>
<div class="row">
    <div class ="column">
    <div class="card">
      <div class="card-inner">
          <div class="card-front">
            <h1>Intentionality</h1>
          </div>
          <!-- Decorate card back side -->
          <div class="card-back">
              <p>Understand the cause and effects of your decisions.</p>
          </div>
      </div>
    </div>
    </div>
    <div class ="column">
      <div class="card">
        <div class="card-inner">
            <div class="card-front">
              <h1>Education</h1>
            </div>
            <!-- Decorate card back side -->
            <div class="card-back">
                <p>Know how to support your mental wellness with tools.</p>
            </div>
        </div>
      
      </div>
    </div>
    <div class ="column">
      <div class="card">
        <div class="card-inner">
            <div class="card-front">
              <h1>Mindfulness</h1>
            </div>
            <!-- Decorate card back side -->
            <div class="card-back">
                <p>Be conscious and aware of your mental health.</p>
            </div>
        </div>
      
      </div>
    </div>
  </div>

<div class="info">
    <h1>Features</h1>
</div>
<mat-accordion>
    <!--Feature 1-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header >
        <mat-panel-description class="panelDescription">
        Event Classifications
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="visual">
        <img src="../../assets/placehold.png" alt="Demitri" style="width:65%">
      </div>
      <div class="written">
        <p><i>Tightrope</i> initially appears as a regular scheduler, equiped with adding, editing, and deleting events.
          Additionally, the events then can be categorized into leisure vs. work with an associated stress level for that event.</p>
      </div>
      
    </mat-expansion-panel>

    <!--Feature 2-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-description class="panelDescription">
        Stress Forecasting
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="visual">
            <img src="../../assets/placehold.png" alt="Demitri" style="width:65%">
          </div>
          <div class="written">
            <p>I'm visible because I am open</p>
          </div>
    </mat-expansion-panel>
    <!--Feature 3-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-description class="panelDescription">
        Stress Survey
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="visual">
            <img src="../../assets/Tightrope-Mockup-WeekRate.png" alt="Demitri" style="width:65%">
          </div>
          <div class="written">
            <p>The application optimizes the user's schedule by presenting a stress survey. The user can use the stress survey to reflect on their schedule.
              The data collected is then used to optimize future schedules for the user.</p>
          </div>
    </mat-expansion-panel>
    <!--Feature 4-->
    <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>

        <mat-panel-description class="panelDescription">
        Stress Gauge and Summary
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="visual">
            <img src="../../assets/Tightrope-Mockup-StressSummary.png" alt="Demitri" style="width:65%">
          </div>
          <div class="written">
            <p>The application then is able to determine a summary of stress for the user for the current day, week, or month that is then 
              displayed graphically as the stress gauge. </p>
          </div>
    </mat-expansion-panel>
    <!--Feature 5-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-description class="panelDescription">
        Mental Wellness Streak
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="visual">
            <img src="../../assets/Tightrope-Mockup-Streaks.png" alt="Demitri" style="width:65%">
          </div>
          <div class="written">
            <p>I'm visible because I am open</p>
          </div>
    </mat-expansion-panel>
    <!--Feature 6-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-description class="panelDescription">
        Event Recommendation
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="visual">
            <img src="../../assets/Tightrope-Mockup-Recommendation.png" alt="Demitri" style="width:65%">
          </div>
          <div class="written">
            <p>I'm visible because I am open</p>
          </div>
</mat-expansion-panel>
</mat-accordion>
</div>