h1 {
    text-align: center;
    padding: 1em;
    font-size: 5em;
    color: #7FBA00;
    font-weight: 700;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.panelTitle{
    font-size: 2.5em;
    color: #8b8b8b;
}
.panelDescription{
    font-size: 2em;
    color: #8b8b8b;
}