<app-banner></app-banner>
<router-outlet></router-outlet>

<!--November 30 2021-->
<!--Created by Mackenzie-->
<!--Begin of custom code-->
<!--Overview of makes application stand out-->
<div class="intro">
    <h1 class="page_heading">Features</h1>
    <p>There are a variety of scheduler applications that manage the day-to-day operations of people's lives—Tightrope is different. It places emphasis on mental wellness and prioritizes an optimized work-life balance. 
    </p>
    <p>
    To mantain a healthy work:life balance, individuals must be active in developing their mental wellness and understanding common stresses in their lives.
    Because of this, the developers of Tightrope have built the application on the foundation of three principles: Intentionality, 
    Education, and Mindfulness.
    </p>
</div>


<!--Fundamental Principle Cards-->
<!-- Card layout taken from w3schools then adapted to fit application-->
<div class="row">
    <div class ="column">
    <div class="card">
      <div class="card-inner">
          <div class="card-front">
            <h1>Intentionality</h1>
          </div>
          <!-- card back side -->
          <div class="card-back">
              <p>Understand the cause and effects of your decisions.</p>
          </div>
      </div>
    </div>
    </div>
    <div class ="column">
      <div class="card">
        <div class="card-inner">
            <div class="card-front">
              <h1>Education</h1>
            </div>
            <!--card back side -->
            <div class="card-back">
                <p>Know how to support your mental wellness with tools.</p>
            </div>
        </div>
      
      </div>
    </div>
    <div class ="column">
      <div class="card">
        <div class="card-inner">
            <div class="card-front">
              <h1>Mindfulness</h1>
            </div>
            <!--card back side -->
            <div class="card-back">
                <p>Be conscious and aware of your mental health.</p>
            </div>
        </div>
      
      </div>
    </div>
  </div>

  <h2>By employing foundational principles, Tightrope aims to support indivuduals in unlocking their true potential by promoting a healthy lifestyle.</h2>

<!--Features heading w/ color-->
<div class="info">
    <h1>Features</h1>
</div>
<!--End of custom code-->
<!--Accordion style collapsible content - default from mat-expansion example-->
<!--employs mat-extension module -->
<div class="collapsible">
<mat-accordion>
    <!--Feature 1-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header >
        <mat-panel-description class="panelDescription">
        Event Classifications
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="visual">
        <img src="../../assets/placehold.png" alt="Event Classifications" style="width:65%">
      </div>
      <div class="written">
        <p><i>Tightrope</i> initially appears as a regular scheduler, equiped with adding, editing, and deleting events.
          In addition to these basic functionalities, the events then can be categorized into leisure vs. work with an associated stress level for that event.</p>
        <p>This distintion is a unique way to categorize events in which users can then focus on being intentional during their leisure time 
        and have a quick view as to the quantitative balance of leisure vs. work activities. </p>
      </div>
      
    </mat-expansion-panel>

    <!--Feature 2-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-description class="panelDescription">
        Stress Forecasting
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="visual">
            <img src="../../assets/placehold.png" alt="Stress Forecasting" style="width:65%">
          </div>
          <div class="written">
            <p>The stress forecasting component takes in multiple factors from the user's current scheduled week and surevey data and predicts the stress for the subsequent weeks.
            This information is valuable because it then can be used to optimize the user's future weeks. To optimize a user's schedule, the machine learning model would generate
            a balanced schedule of work obligations and leisure activities to best reduce the stress level compared to the prior week. </p>
          </div>
    </mat-expansion-panel>
    <!--Feature 3-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-description class="panelDescription">
        Stress Survey
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="visual">
            <img src="../../assets/Tightrope-Mockup-WeekRate.png" alt="Stress Survey" style="width:65%">
          </div>
          <div class="written">
            <p>The application optimizes the user's schedule by presenting a stress survey. The user can use the stress survey to reflect on their past schedule.
              The data collected is then used to optimize future schedules for the user.</p>
               <p>The key portion of this feature is that the surevey is developed with user simplicity and availability in mind. 
              We know that nobody wants to fill out a 30 part questionaire every day, so we balanced the cost of convience with the cost of accuracy to develop our survey frequency and questions.</p>
          </div>
    </mat-expansion-panel>
    <!--Feature 4-->
    <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>

        <mat-panel-description class="panelDescription">
        Stress Gauge and Summary
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="visual">
            <img src="../../assets/Tightrope-Mockup-StressSummary.png" alt="Stress Gauge" style="width:65%">
          </div>
          <div class="written">
            <p><i>Tightrope</i> compiles a summary of stress for the user for the current day, week, or month that is then 
              displayed graphically as the stress gauge. The summary will count the number of events that are stressful/mindful,the average hours of 'work' for the period, and isolate the most stressful segments for the period.</p>
              <p>The visual effect of these calculated numbers will educate the users on their current work:life ratio and help them quantify the stress or emtions felt
              during the designated period. </p>
          </div>
    </mat-expansion-panel>
    <!--Feature 5-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-description class="panelDescription">
        Mental Wellness Streak
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="visual">
            <img src="../../assets/Tightrope-Mockup-Streaks.png" alt="Demitri" style="width:65%">
          </div>
          <div class="written">
            <p>The Mental Wellness Streak feature tracks the number of consecutive mindful events that are completed by the user. The mindful events are designated by each 
              user as leisure looks different for each individual. </p>
              <p>The purpose of the Streak feature is to motivate users to continue their mindful practices with consistency and external motivations. This extra motivation
              will promote the incoporation of mindful practices into the everyday lives of the users. </p>
          </div>
    </mat-expansion-panel>
    <!--Feature 6-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-description class="panelDescription">
        Event Recommendation
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="visual">
            <img src="../../assets/Tightrope-Mockup-Recommendation.png" alt="Demitri" style="width:65%">
          </div>
          <div class="written">
            <p>The developers of <i>Tightrope</i> know there is a difference between having leisure time and actively participating in leisurely activities to reduce stress.
            The caveat is that occationally trying to find a leisurely activity adds to the overall stress of an individual instead of diminishing it.</p>
            <p>This is where the Event Recommendation feature comes in.</p>
          </div>
</mat-expansion-panel>
</mat-accordion>
</div>
<!--End of mat-expansion accoridon content-->