<!--Custom Code by Sahil-->
<title>Edit Event</title>
<div class="header-nav">
    <a class="navbar-item" routerLink='../login' >
      <img src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">
    </a> 
  </div>
  <app-sidepanel class="sidepannelview"></app-sidepanel>

  <div class="wrapper">
    <h1>Edit Event</h1><br>
    <form class="neweventForm"> 
      <input class="EventName" type="name" placeholder="{{Eventname}}"> <br>
      <input type="text" placeholder="{{StartDate}}"
        onfocus="(this.type='datetime-local')"><br>
      <input type="text" placeholder="{{EndDate}}"
          onfocus="(this.type='datetime-local')"><br>
      <input type="text" placeholder="{{Location}}"><br>
      <!--input type="text" placeholder="https://zoom.us/j/1234567"><br-->
      <textarea placeholder="{{Notes}}" aria-setsize="2"></textarea><br>
      <input type="submit" value="Save"> 
      <input type="button" class="buttonDelete" value="Delete">
    </form>
    
  </div>
  



<!--End of custom code -->