<!--Custom Code by Sahil-->
<title>Edit Event</title>
<div class="header-nav">
    <a class="navbar-item" routerLink='../login' >
      <img src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">
    </a> 
  </div>
  <app-sidepanel class="sidepannelview"></app-sidepanel>

  <div class="wrapper">
    <h1>Edit Event</h1><br>

    <!-- <form class="neweventForm" onsubmit="updateCurrentEvent()"> 
      <input class="EventName" type="name" placeholder="{{Eventname}}"> <br>
      <input type="text" placeholder="{{StartDate}}"
        onfocus="(this.type='datetime-local')"><br>
      <input type="text" placeholder="{{EndDate}}"
          onfocus="(this.type='datetime-local')"><br>
      <label for="location">Location: &nbsp;</label>
      <input type="text" placeholder="{{Location}}"><br>
      <label for="stress">Stress Level: &nbsp;</label>

      <select [(ngModel)]='levelofstress' name="first">
        <option value="0">No Stress</option>
        <option value="1" selected="selected">Low Stress</option>
        <option value="2">Medium Stress</option>
        <option value="3">High Stress</option>
      </select><br>

      <label for="category">Type:  &nbsp;</label>
      <select [(ngModel)]='typeofevent' name="first">
        <option value="0">Work</option>
        <option value="1" selected="selected">Leisure</option>
        <option value="2">Mindfullness</option>
      </select><br>

      <textarea placeholder="{{Notes}}" aria-setsize="2"></textarea><br>
      <input type="submit" value="Save"> 
      <button type="button" class="buttonDelete" (click)="deleteCurrentEvent()">Delete</button>
      <button type="button" class="cancelButton" routerLink='../home' >Cancel</button>
    </form> -->
    
    <form class="neweventForm">
    <!-- gets users input for event name -->
    <input type="text" id="Eventname_u" name="Eventname_u" [(ngModel)]="Eventname_u" placeholder="{{Eventname}}"><br>
    <!-- I cant get date/time to update -->
    <input type="text" id="StartDate_u" name="StartDate_u" [(ngModel)]="StartDate_u"placeholder="{{StartDate}}"
    onfocus="(this.type='datetime-local')"><br>
    
    <input type="text" id="EndDate_u" name="EndDate_u" [(ngModel)]="EndDate_u"placeholder="{{EndDate}}"
    onfocus="(this.type='datetime-local')"><br>
    <!-- gets users input for event location -->
    <input type="text" id="Location_u" name="Location_u" [(ngModel)]="Location_u" placeholder="{{Location}}"><br>
    <!-- Excecutive decision to just do numbers for stress level and type  -->
    <input type="number" id="levelofstress_u" name="levelofstress_u" [(ngModel)]="levelofstress_u" min="1" max="3" placeholder="{{levelofstress}}"><br>
    <input type="number" id="typeofevent_u" name="typeofevent_u" [(ngModel)]="typeofevent_u" min="0" max="2" placeholder="{{typeofevent}}"><br>
    <!-- get user input for notes update -->
    <input type="text" id="Notes_u" name="Notes_u" [(ngModel)]="Notes_u" placeholder="{{Notes}}"><br>
    </form>
    <!-- Submit form with save button -->
    <button type="button" (click)="updateValue()" class="change-button">Save</button>
    <button type="button" class="buttonDelete" (click)="deleteCurrentEvent()">Delete</button>
      <button type="button" class="cancelButton" routerLink='../home' >Cancel</button>
  </div>
  



<!--End of custom code -->