<app-banner></app-banner>
<router-outlet></router-outlet>



<div class='intro'>
    <h4 class="page_heading">About Tightrope</h4>
    <p>Tightrope is an application designed to help individuals maintain and perfect a work-life balance. 

    </p>
</div>
<div class= 'teamStuff'>
  <h1>Meet The Team</h1>
</div>



<!-- This code was developed by an alternate source https://www.w3schools.com/howto/howto_css_team.asp -->
<!-- The information and specific uses were adapted to the project by Mackenzie Zappe-->
<div class="teamInfo">

    <h3>Developers</h3>
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="../../assets/placehold.png" alt="Demitri" style="width:100%">
            <div class="container">
              <h2>Demitri Bannoura</h2>
              <p class="title">Developer</p>
              <p>Demitri Bannoura has previous knowledge in web development and design; he has an interest in user interface design and mobile app development.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../../assets/placehold.png" alt="Michael" style="width:100%">
            <div class="container">
              <h2>Michael Dorado</h2>
              <p class="title">Developer</p>
              <p> Michael Dorado has experience implementing web APIs and is interested in open-source web app development.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../../assets/placehold.png" alt="Cooper" style="width:100%">
            <div class="container">
              <h2>Cooper Flourens</h2>
              <p class="title">Developer</p>
              <p> Cooper Flourens is familiar with and interested in machine learning. He hopes to implement current deep learning models.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
        <div class="column">
          <div class="card">
            <img src="../../assets/placehold.png" alt="Sahil" style="width:100%">
            <div class="container">
              <h2>Sahil Pyakurel</h2>
              <p class="title">Developer</p>
              <p> Sahil has experience designing user interfaces and implementing databases. He is interested in web, app, and front end development.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="../../assets/placehold.png" alt="Mackenzie" style="width:100%">
            <div class="container">
              <h2>Mackenzie Zappe</h2>
              <p class="title">Developer</p>
              <p>Mackenzie Zappe is experienced in project management and development. She is interested in application and network security.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>

      </div>
    
</div>
<div class="advisorInfo">
<h3>Advisors</h3>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../../assets/placehold.png" alt="Dascalu" style="width:100%">
          <div class="container">
            <h2>Dr. Sergiu Dascalu</h2>
            <p class="title">CS 425 Professor</p>
            <p>example@example.com</p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../../assets/placehold.png" alt="Hazlett-Stevens" style="width:100%">
          <div class="container">
            <h2>Dr. Hazlett-Stevens</h2>
            <p class="title">Psychology Department Advisor</p>
            <p>example@example.com</p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../../assets/placehold.png" alt="Lancaster" style="width:100%">
          <div class="container">
            <h2>Dr. Keith Lancaster</h2>
            <p class="title">Computer Science and Engineering Department Advisor</p>
            <p>example@example.com</p>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
      <div class="column">
        <div class="card">
          <img src="../../assets/placehold.png" alt="Le" style="width:100%">
          <div class="container">
            <h2>Vinh Le</h2>
            <p class="title">CS 425 Professor</p>
            <p>example@example.com</p>
          </div>
        </div>
      </div>


    </div>
</div>

