<app-banner></app-banner>
<router-outlet></router-outlet>



<div class='intro'>
    <h4 class="page_heading">About Tightrope</h4>
    <p>This is a paragrah that talks about us


      jfkdlsafa;fd
      fsl;
      fkd;
      fdks;

    </p>
</div>
<div class= 'teamStuff'>
  <h1>Meet The Team</h1>
</div>

<div class="teamInfo">

    <h3>Developers</h3>
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="../../assets/placehold.png" alt="Demitri" style="width:100%">
            <div class="container">
              <h2>Demitri Bannoura</h2>
              <p class="title">CEO &amp; Founder</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../../assets/placehold.png" alt="Michael" style="width:100%">
            <div class="container">
              <h2>Michael Dorado</h2>
              <p class="title">Art Director</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../../assets/placehold.png" alt="Cooper" style="width:100%">
            <div class="container">
              <h2>Cooper Flourens</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
        <div class="column">
          <div class="card">
            <img src="../../assets/placehold.png" alt="Sahil" style="width:100%">
            <div class="container">
              <h2>Sahil Pyakurel</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="../../assets/placehold.png" alt="Mackenzie" style="width:100%">
            <div class="container">
              <h2>Mackenzie Zappe</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>

      </div>
    
</div>
<div class="advisorInfo">
<h3>Advisors</h3>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../../assets/placehold.png" alt="Dascalu" style="width:100%">
          <div class="container">
            <h2>Dr. Sergiu Dascalu</h2>
            <p class="title">CEO &amp; Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../../assets/placehold.png" alt="Hazlett-Stevens" style="width:100%">
          <div class="container">
            <h2>Dr. Hazlett-Stevens</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../../assets/placehold.png" alt="Lancaster" style="width:100%">
          <div class="container">
            <h2>Dr. Keith Lancaster</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
      <div class="column">
        <div class="card">
          <img src="../../assets/placehold.png" alt="Le" style="width:100%">
          <div class="container">
            <h2>Vinh Le</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
          </div>
        </div>
      </div>


    </div>
</div>

