/*Custom code section by Michael Dorado*/

.comment-form form {
    width: 50%;
    margin: auto;
}


input, textarea {

    border: #8b8b8b;
    border-style: solid;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 0.5em;
    width: 100%;
    margin: 0.25em;

    
    /*background-color: #eee; */
}

textarea {
    height: 10em;
    width: 100%;
}

  
input[type=text]:focus, input[type=email]:focus {
    outline: none;
    border: #7fba02;
    border-style:solid;
}

input[type=submit] {
    background-color: #7fba02;
    border-color: #7fba02;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    padding: 12px;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
    width: 25%;
    margin: auto;
    margin-bottom: 10vh;
}

/*Comment form*/


textarea[type=text]:focus {
    outline: none;
    border: #7fba02;
    border-style:solid;
}

h1 {
    text-align: center;
    padding-top: 1em;
    font-size: 5em;
    color: #7FBA00;
    font-weight: 700;
}

h2 {
    text-align: center;
    padding-top: 1em;
}

.subhead-bold {
    font-weight: 700;
    padding: 0em;
    margin-bottom: 2em;
}




/*end of custom code section */