.navbar-brand {
    padding: 20px;
    min-width: 1000px;
}

.navbar-menu {
    list-style-type: none;
    list-style: none;
    direction: ltr;
    float:right;
    text-align: right;
    position: absolute;
    display: inline;
    /* font-family: 'Roboto', 'arial', sans-serif; */
    font-size: 20px;
    right: 20px;
  
    
}


ul li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    background-color: none;

}

a, a:active, a:focus, a:hover{
    text-decoration: none;
    color: inherit;
}

.Signupbutton {
    padding: 5px;
    background-color: #7fba02;
    color: #ffffff;
}

.wrapper {
    height: 100%;
    position: relative;
}

.tagline {
    width: 50%;
    float: left;
}

.login-form {
    width: 50%;
    top: 30%;
    left: 55%;
    position: absolute;
}

.login-form h2 {
    color: #7fba02;
    font-weight: 700;
    font-size: 2.5em;
    padding-bottom: 1.25em;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-size: 2em;
    
    /*background-color: #eee; */
}

  
input[type=text]:focus {
    outline: none;
    border-bottom: #7fba02;
    border-bottom-style:solid;
    padding: 0px;
}

input[type=submit] {
    background-color: #7fba02;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.5em;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
}