<app-banner></app-banner>

<div id="wrapper">
  <div class="tagline">
    <img class="logo-icon" src="../../assets/Tightrope-Logo-Icon.png" />
    <h1>Stress less and get s#!t done.</h1>
  </div>
  <div class="login-form">
    <h2>Welcome back.</h2>
    <form action="localhost:4200/home">
      <!-- label for="email">Email</label><br -->
      <input type="email" id="email" name="email" placeholder="Email address"><br>
      <!-- label for="password">Password</label --><br>
      <input type="password" id="password" name="password" placeholder="Password" href="localhost:4200/home"><br><br><br>
      <input type="submit" value="Login">
    </form><br><br>
    <a href="google.com" class="secondary-link">Forgot password →</a>
  </div>
</div>