<app-banner></app-banner>
<!--Custom code section by Michael Dorado-->

<h1>Contact</h1>
<h2>Got a question, comment, or concern?</h2>
<h2 class="subhead-bold">Drop us a line below.</h2>
<div class="comment-form">
        <form (ngSubmit)="contactDevelopers()">
          <div [hidden] = "isShow"><img src="../../assets/surprise.png" alt="surprise" style="width:100%"></div>
          <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Name" autofocus><br><br>
          <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Email address"><br><br>
          <textarea type="text" id="message" name="message" [(ngModel)]="message" placeholder="Comment" ></textarea><br><br>
          <input type="submit" value="Submit">
        </form><br><br>
        <button type="button" (click)="hiddenFunction()" class="change-button">Click me</button>
        

</div>

<!--End of Custom code section-->

<app-footer></app-footer>