<app-banner></app-banner>
<!--Custom code section by Michael Dorado-->
<form>
    <div class="comment-form">
        <h1>Something we can do better?</h1>
        <h1>Tells us!</h1><br>

        <form action="localhost:4200/contact">
          <input type="text" id="name" name="name" placeholder="First and Last Name" style="text-align: center"><br>
          <br>
            <div class="intro">
              <h5>This form will be reported to our development team for future examination. The Tightrope team appreciates your feedback!</h5>
            </div>
          <textarea type="text" id="text" name="text" placeholder="Let us know!" href="http://localhost:4200/contact"></textarea><br><br>
          <input type="submit" value="Submit" routerLink='../contact'>
        </form><br><br>
      </div>
</form>
<!--End of Custom code section-->

