<router-outlet></router-outlet>
<nav class="navbar">

    <!-- logo -->
    <!--
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="home" >
        <img style="height: 50px ; width: auto ;" src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">

      </a>
    </div>
  -->

      <div class="navbar-brand">
        <a class="navbar-item" routerLink='../home' >
          <img style="height: 50px ; width: auto ;" src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">
        </a> 

        <ul class="navbar-menu">
          <li> <a routerLink='../about'>About</a></li>
          <li><a href= '../features'>Features</a></li>
          <li><a href= "../contact/">Contact</a></li>
          <li ><a routerLink='../signup' class="signup-button">Join Now</a></li>
          <li ><a routerLink='../login' class="login-button">Login</a></li>
        </ul>
      </div> 
  

</nav>

