
<nav class="navbar">

    <!-- logo -->
    <!--
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="home" >
        <img style="height: 50px ; width: auto ;" src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">

      </a>
    </div>
  -->

      <div class="navbar-brand">
        <a class="navbar-item" routerLink="home" >
          <img style="height: 50px ; width: auto ;" src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">
        </a>
          <ul class="navbar-menu">
              <li> <a href= "">About</a></li>
              <li><a href= "">Why Tightrope?</a></li>
              <li><a href= "">Contact</a></li>
              <li ><a href= "" class = "Signupbutton">Sign Up</a></li>
  
          </ul>
  
      </div>
  
      

</nav>

