.navbar-brand {
    padding: 20px;
}

.navbar-brand {
    padding: 20px;
    min-width: 1000px;
}

.navbar-menu {
    list-style-type: none;
    list-style: none;
    direction: ltr;
    float:right;
    text-align: right;
    position: absolute;
    display: inline;
    /* font-family: 'Roboto', 'arial', sans-serif; */
    font-size: 20px;
    right: 20px;
  
    
}


ul li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    background-color: none;

}

a, a:active, a:focus, a:hover{
    text-decoration: none;
    color: inherit;
}

/*.Signupbutton {
    padding: 10px;
    background-color: #7fba02;
    color: #ffffff;

}*/

.Signupbutton {
    background-color: #7fba02;
    color: white;
    font-size: 1em;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    padding-left: 22px;
    padding-right: 22px;
}