.navbar-brand {
    padding: 20px;
}

.navbar-brand {
    padding: 20px;
    min-width: 100%;
}

.navbar-menu {
    list-style-type: none;
    list-style: none;
    direction: ltr;
    float:right;
    text-align: right;
    position: absolute;
    display: inline;
    /* font-family: 'Roboto', 'arial', sans-serif; */
    font-size: 20px;
    right: 20px;
    font-weight: 700;
    
}


ul li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    background-color: none;

}


a {
    text-decoration: none;
    color: inherit;
}

a:active, a:focus, a:hover {
    text-decoration: none;
    color: inherit;
    border-bottom: solid 3px;
    border-color: #7fba02;
    padding-bottom: 10px;
}

.navbar-item:active, .navbar-item:focus, .navbar-item:hover {
    border-bottom: none;
}


.Signupbutton {
    background-color: white;
    color: #7fba02;
    border-style: solid;
    border-width: 3px;
    border-color: #7fba02;
    font-size: 1em;
    font-weight: 700;
    padding: 12px;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.Signupbutton:active .Signupbutton:focus, .Signupbutton:hover {
    background-color: #7fba02;
    color: white;
    font-size: 1em;
    font-weight: 700;
    padding: 12px;
    border-style: solid;
    border-width: 3px;
    border-color: #7fba02;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
