<div class="sidebanner">
    <div class="center"> 
        <h4 id="stresslevelarc">Stress Level</h4>
    
        <mwl-gauge
            [max]="100"
            [dialStartAngle]="140"
            [dialEndAngle]="40"
            [value]="77"
            [animated]="true"
            [animationDuration]="1"
        > 
        </mwl-gauge>

        <p  class="infotext">You've got a 4 week streak of doing three or more relaxing activities. <br>Way to go!</p>
        <br><br>
        <h4 class="lastweek">How was your last week?</h4>
        <div class="moodbuttons">
            <button  id="happy">&#9786;</button>
            <button  id="sad">&#9785;</button>
        </div>
        
    
    </div>

    <div class="sidecal">
        <div class="currentmonth">{{monthALLCAPS}}</div>
        <dp-day-calendar theme="dp-material"></dp-day-calendar>
    </div>
    
</div>


