/* code below done by Demitri Bannoura */
.account-link {
    padding-top: 1em;
    padding-right: 1em;
    width: 100%;
    text-align: right;
}

.account-link a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.85em;
    padding-right: 0.7em;
}

.user_icon {
    height: 1.5em;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: -5px;
}

.logout_button {
    font-size: 0.85em;
    background: none;
    color: black;
    font-weight: 500;
    width: 100px;
    padding-left: 0.6em;
    margin: 0px;
}

.logout_button:hover {
    border-bottom: 3px;
    border-color: #7fba02;
}

.stress-guage mwl-gauge {
    width: 65%;
    height: max-content;
    margin: 0 auto;
    padding-top: 0em;
}

/*Stress Gauge stylings*/
#stresslevelarc{
    transform: translate(0px, 9.5vh);
    font-size: 1.7vh;
    text-align: center;
    color: grey;
}

.stress-guage .stress-summary-panel {
    visibility: hidden;
    width: 20em;
    background-color: #7fba02;
    color: #fff;
    border-radius: 15px;
    box-shadow: -2em 1em 11em -2em black;
    padding: 1em;
    /* Position the tooltip */
    position: absolute;
    top: 2em;
    left: -15em;
    height: 20em;
    transition: 0.1s;
    z-index: 2;
    
}

.stress-guage:hover .stress-summary-panel, .stress-guage:focus .stress-summary-panel {
    visibility: visible;
    z-index: 2;
}

.streak-area h1 {
    font-size: 0.9em;
    text-align: center;
    width: 70%;
    margin: auto;
}

.streak-area h2 {
    font-size: 0.7em;
    text-align: center;
    color: black;
    font-weight: 400;
    width: 50%;
    margin: auto;
    padding-bottom: 1em;
}

.streak-number {
    font-weight: 700;
}

.streak-area .week-streak-info {
    font-weight: 600;
    font-size: 0.8em;
    width: 75%;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: auto;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #7fba02;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #7fba02;
    cursor: pointer;
  }

.activities-area {
    width: 100%;
    text-align: center;
    margin-top: 0em;
    position: relative;
}
/*
.activities-area a {
    background-color: #7fba02;
    color: white;
    text-decoration: none;
    min-width: max-content;
    padding: 0.5em;
    font-size: 0.65em;
    margin-bottom: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
}
*/
.edit-activities {
    background-color: none;
    color: #8b8b8b;
    text-decoration: none;
    border-bottom: dotted 2px;
    margin-bottom: 5em;
    font-size: 0.65em;
    margin-top: 1em;
    width: max-content;
    display: inline;
    margin: auto;
    padding-bottom: 2px;
}

.view-local-events {
    background-color: #7fba02;
    color: white;
    text-decoration: none;
    padding: 0.7em 1em 0.7em 1em;
    font-size: 0.65em;
    border-radius: 30px;
    width: 100%;
    display: inline;
    margin-top: 10em;
}

.stress-survey{
    background-color: #7fba02;
    color: white;
    text-decoration: none;
    padding: 0.7em 1em 0.7em 1em;
    font-size: 0.65em;
    border-radius: 30px;
    width: 100%;
    display: inline;
    margin-top: 10em;
}

.stress-summary-panel h1 {
    font-weight: bold;
    padding-bottom: 0.5em;
}

.stress-summary-panel h3 {
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.temp-slider {
    border-bottom: 10px;
    border-radius: 20px;
    background-color: #ebebeb;
    height: 0.9em;
    width: 50%;
    margin-bottom: 1.7em;
}


/*custom code for styling made by Sahil Pyakurel and Michael Dorado*/
/*Define the side banner area*/
.sidebanner {
    height: 100%;
    Width: 30%;
    position: fixed;
    right:0;
    background-color: #ebebeb;
    top:0;
    /* font-family: 'Roboto', 'arial', sans-serif; */
    font-size: 24px;
    color: #7fba02;
    z-index: 1;
    stroke-linecap: round;
}
/*Text centering*/
.center {
    width: 75%;
    margin: auto;
}
/*
.center {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    border: 1px;
    padding: 1px;
    stroke-linecap: round;
    resize: both;
} */

/*Define Space for mini calendar*/
.sidecal {
    font-size: 10px;
    height: auto;
    width: 100%;
    color: black;
    position:absolute;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 2em;
}

::ng-deep .dropdown-menu{
    background-color: white;
    border-radius: 10px;
    
}
::ng-deep .dropdown-item{
    font-size: 1.25em !important;
}

::ng-deep .dropdown-item:hover {
    background-color: #7fba02;
    color: white !important;
   

}

/*Display settings for current day sectio*/
::ng-deep .dp-calendar-day{
    background: #ebebeb !important;
}

::ng-deep .dp-day-calendar-container{
    background: #ebebeb !important;
}

::ng-deep div.dp-calendar-nav-container{
    display: none;
}


::ng-deep dp-day-calendar.dp-material .dp-calendar-wrapper{

    border: 1px solid #ebebeb !important;
    font-size: 1.5em;


}

::ng-deep dp-day-calendar.dp-material .dp-current-day{
    border: 1px solid #7fba02 !important;
    background-color: #7fba02 !important;
    color: white;
}


::ng-deep dp-day-calendar .dp-weekdays{
    display: none;
}
/*End of section*/

/*mini calendar stylings*/
.currentmonth{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

/*mini calendar stylings*/
.infotext{
    color: grey;
    text-align: center;
    font-size: 0.6em;
    

}



/*mini calendar stylings*/
.lastweek{
    font-size: 0.75em;
    color: black;
    text-align: center;
    border: none;

}

/*Button stylings*/
button {
    background-color: #7fba02;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: white;
    border: none;
    font-size: 1.1em;
    margin: 5px;
  

}

.usernameDropdown {
    height: 45px;
    width: 45px;
    color: white;
    border: none;
    font-size: 1.1em;
    margin: 5px;
    margin-top: 10px;
}

/*Button stylings*/
.moodbuttons{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
}
/*
dp-day-calendar{display:inline-block}
dp-day-calendar .dp-day-calendar-container{background:#FFFFFF}
dp-day-calendar .dp-calendar-wrapper{box-sizing:border-box;border:1px solid #000000}
dp-day-calendar .dp-calendar-wrapper .dp-calendar-weekday:first-child{border-left:none}
dp-day-calendar .dp-weekdays{font-size:15px;margin-bottom:5px}
dp-day-calendar .dp-calendar-weekday{box-sizing:border-box;display:inline-block;width:30px;text-align:center;border-left:1px solid #000000;border-bottom:1px solid #000000}
dp-day-calendar .dp-calendar-day{box-sizing:border-box;width:30px;height:30px;cursor:pointer}
dp-day-calendar .dp-selected{background:#106CC8;color:#fff}dp-day-calendar .dp-prev-month,dp-day-calendar .dp-next-month{opacity:.5}
dp-day-calendar .dp-hide-near-month .dp-prev-month,dp-day-calendar .dp-hide-near-month .dp-next-month{visibility:hidden}
dp-day-calendar .dp-week-number{position:absolute;font-size:9px}dp-day-calendar.dp-material .dp-calendar-weekday{height:25px;width:30px;line-height:25px;color:#7a7a7a;border:none}
dp-day-calendar.dp-material .dp-calendar-wrapper{border:1px solid #E0E0E0}dp-day-calendar.dp-material .dp-calendar-month,dp-day-calendar.dp-material .dp-calendar-day{box-sizing:border-box;background:#FFFFFF;border-radius:50%;border:none;outline:none}
dp-day-calendar.dp-material .dp-calendar-month:hover,dp-day-calendar.dp-material .dp-calendar-day:hover{background:#E0E0E0}
dp-day-calendar.dp-material .dp-selected{background:#106CC8;color:#fff}
dp-day-calendar.dp-material .dp-selected:hover{background:#106CC8}dp-day-calendar.dp-material .dp-current-day{border:1px solid #106CC8} */