<!--Custom code by Sahil and Michael-->
<div class="sidebanner">
    <div ngbDropdown class="account-link">
        <a class="usernameDropdown" id="dropdownMenu2" ngbDropdownToggle>
            <img class="user_icon" src= "../../assets/user-icon-temp.jpg"> {{fullName}}
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownMenu2">
            <a ngbDropdownItem routerLink='/account'>My Account</a>
            <a ngbDropdownItem (click)='logout()'>Logout</a>
        </div>
        
    </div>
    <div class="center"> 
        
        <h4 id="stresslevelarc">Stress Level</h4>
        <div class="stress-guage">
        <!--Imported gauge element-->
        
        <!-- for valie: takes in stresslevel variable and multiplies by 100 to display -->
        <mwl-gauge
            [max]="100"
            [dialStartAngle]="140"
            [dialEndAngle]="40"
            [value]= "stresslevel * 100"
            [animated]="true"
            [animationDuration]="1"
        > 
        </mwl-gauge>
        
        <div class="stress-summary-panel">
            <h1>Stress Summary</h1>
            <h3>Stressful Events This Week</h3>
            <div class="temp-slider"></div>
            <h3>Average Work Time Per Day</h3>
            <div class="temp-slider"></div>
            <h3>Mindfulness Events Completed</h3>
            <div class="temp-slider"></div>
            <h3>Most Stressful Days This Week</h3>
            <p>{{stressfullDay}}</p>
            
        </div>
        </div>

        <!--
        <div class="streak-area">
            <h1>Nice work! 👍</h1>
            <h2>You've got a <span class="streak-number">4 week </span> mindfulness streak going!</h2>
            <input type="range" min="0" max="3" value="1" class="slider">
            <h1>1 / 3 mindfulness events completed this week</h1>
        </div>

        <div class="activities-area">
            <a routerLink="/streak" class="edit-activities">Edit Mindfulness Activities ➜</a><br><br>
            <a routerLink="/streak" class="view-local-events">View Upcoming Local Events</a><br><br>
            <a routerLink="/stresssurvey" class="stress-survey">Stress Survey</a>
        </div>
    -->

        <div class="icon-group">
            <a class="icon-individual" routerLink="/stresssurvey">
                <img src= "../../assets/icons/tr_survey.png"><br>Stress<br>Survey
            </a>
            <a class="icon-individual" routerLink="/changeMindful">
                <img src= "../../assets/icons/tr_mindfulness.png"><br>Mindfulness<br>Events
            </a>
            <a class="icon-individual" style="margin-right: 0" routerLink="/streak">
                <img src= "../../assets/icons/tr_localevents.png"><br>Local<br>Events
            </a>
        </div>

        <div class="streak-message">
            <h5>Weekly Mindfulness Streak</h5>
            <h4>3 Weeks</h4>
            <a routerLink="/streak">Change Streak Goal ➜</a>
        </div>

        <!--p  class="infotext">You've got a 4 week streak of doing three or more relaxing activities. <br>Way to go!</p>
        <br>
        <h4 class="lastweek">How was your last week?</h4>
        <div class="moodbuttons">
            <button  id="happy">&#9786;</button>
            <button  id="sad">&#9785;</button>
        </div-->
        
    
    </div>

    <div class="sidecal">
        <div class="currentmonth">{{monthALLCAPS}}</div>
        <!--Imported mini calendar element-->
        <dp-day-calendar theme="dp-material"></dp-day-calendar>
    </div>
    
</div>


