
.sidebanner {
    height: 100%;
    Width: 30%;
    position: fixed;
    right:0;
    background-color: #ebebeb;
    top:0;
    font-family: 'Roboto', 'arial', sans-serif;
    font-size: 24px;
    color: #7fba02;
}

.center {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    border: 1px;
    padding: 1px;
    stroke-linecap: round;
    resize: both;
}

h4 {
    text-align: center;
    padding-bottom: 0px;
}

.sidecal {
    background-color: #ebebeb !important;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
    width:max-content;
    border-color: #ebebeb !important;
    color: black;


}

.dp-calendar-day{
    background: #ebebeb !important;
}



.dp-day-calendar-container{
    background: #ebebeb !important;
}

.dp-weekdays {
    font-size: 10px !important;
}
div.dp-calendar-nav-container{
    display: none;
}