
.sidebanner {
    height: 100%;
    Width: 30%;
    position: fixed;
    right:0;
    background-color: #ebebeb;
    top:0;
    font-family: 'Roboto', 'arial', sans-serif;
    font-size: 24px;
    color: #7fba02;
}

.center {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    border: 1px;
    padding: 1px;
    stroke-linecap: round;
    resize: both;
}

