<!--Custom Code by Demitri-->

<app-banner></app-banner>
<router-outlet></router-outlet>

<!--Created by Demitri-->

<div id="wrapper">
  <div class="tagline">
    <img class="logo-icon" src="../../assets/Tightrope-Logo-Icon.png" />
    <h1>Stress less and get s#!t done.</h1>
  </div>
  <div class="login-form">
    <h2>Ready to stress less?</h2>
    <form action="localhost:4200/home" (ngSubmit)="onSubmit()">
      <!-- label for="email">Email</label><br -->
      <input type="text" id="firstname" name="firstname" placeholder="First Name" [(ngModel)]="firstName" autofocus><br><br>
      <input type="text" id="lastname" name="lastname" placeholder="Last Name" [(ngModel)]="lastName" ><br><br>
      <input type="email" id="email" name="email" placeholder="Email address" [(ngModel)]="email" ><br>
      <!-- label for="password">Password</label --><br>
      <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" ><br><br>
      <input type="password" id="password" name="password" placeholder="Repeat Password" [(ngModel)]="repeatPassword" ><br><br><br>
      <input type="submit" value="Sign Up">
    </form><br><br>
    <!-- a routerLink="../calendar/calendar" routerLinkActive="active" >Login</a -->
    <a class="secondary-link" routerLink='../login'>❮&nbsp;&nbsp;Back to Login</a>

  </div>

</div>

<app-footer></app-footer>