<!--Custom Code by Demitri-->

<app-banner></app-banner>
<router-outlet></router-outlet>



<div id="wrapper">
  <div class="tagline">
    <img class="logo-icon" src="../../assets/Tightrope-Logo-Icon.png" />
    <h1>Stress less and get s#!t done.</h1>
  </div>
  <div class="login-form">
    <h2>Ready to stress less?</h2>
    <form action="localhost:4200/home">
      <!-- label for="email">Email</label><br -->
      <input type="text" id="name" name="name" placeholder="Name" autofocus><br><br>
      <input type="email" id="email" name="email" placeholder="Email address"><br>
      <!-- label for="password">Password</label --><br>
      <input type="password" id="password" name="password" placeholder="Password" href="http://localhost:4200/home"><br><br>
      <input type="password" id="password" name="password" placeholder="Repeat Password" href="http://localhost:4200/home"><br><br><br>
      <input type="submit" value="Sign Up" routerLink='../home'>
    </form><br><br>
    <!-- a routerLink="../calendar/calendar" routerLinkActive="active" >Login</a -->
    <a class="secondary-link" routerLink='../login'>❮&nbsp;&nbsp;Back to Login</a>

  </div>

</div>