<app-banner></app-banner>
<router-outlet></router-outlet>

<!--Created by Demitri-->

<div id="wrapper">
  <div class="tagline">
    <img class="logo-icon" src="../../assets/Tightrope-Logo-Icon.png" />
    <h1>Stress less and get s#!t done.</h1>
  </div>
  <div class="login-form">
    <h2>Forgot your password?</h2>
    <form action="localhost:4200/home">
      <!-- label for="email">Email</label><br -->
      <input type="email" id="email" name="email" placeholder="Email address" autofocus><br><br>
      <!-- label for="password">Password</label --><br>
      <!-- input type="password" id="password" name="password" placeholder="Password" href="http://localhost:4200/home" -->
      <input type="submit" value="Submit" routerLink='../home'>
    </form><br><br>
    <!-- a routerLink="../calendar/calendar" routerLinkActive="active" >Login</a -->
    <a class="secondary-link" routerLink='../login'>❮&nbsp;&nbsp;Back to Login</a>
  </div>
</div>

<div style="clear: both; height: 100vh;"></div>
<app-footer></app-footer>