<div class="header-nav">
    <a class="navbar-item" routerLink='../home' >
      <img src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">
    </a> 
    <button class="sidebarbutton" >
      &#9776;
    </button>
    
  </div>
  <app-sidepanel class="sidepannelview"></app-sidepanel>


  <div class="content-wrapper">
    <a class="back-link" routerLink='../home'>❮ Back to calendar</a>
    <h1>Mindfulness Activities</h1><br>
    <h2>You've got a 4 week streak going. Nice job!</h2>
    <h3>Weekly Goal</h3>
    <h4>Complete 3 or more mindfulness activities per week.</h4>
    <button class="nav-link" routerLink='../login' class="change-button">Change Goal</button>
