<!--Custom Code by Sahil-->
<title>Add Event</title>
<div class="header-nav">
    <a class="navbar-item" routerLink='../login' >
      <img src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">
    </a> 
  </div>
  <app-sidepanel class="sidepannelview"></app-sidepanel>
  <div class="neweventwrapper">
    <h1>Add a new event</h1><br>
    <form class="neweventForm">
      <input class="EventName" type="name" placeholder="Event Name"> <br>
      <input type="text" placeholder="Start Date"
        onfocus="(this.type='datetime-local')"><br>
      <input type="text" placeholder="End Date"
          onfocus="(this.type='datetime-local')"><br>
      <input type="text" placeholder="Location"><br>
      <input type="text" placeholder="Web Meeting Link"><br>
      <textarea placeholder="Notes" aria-setsize="2"></textarea><br>
      <input type="submit" value="Save"> 
      <input type="button" class="button-cancel" value="Cancel" routerLink='../home'><br><br>
    </form>

     
  </div>
  



<!--End of custom code -->