
.header-nav {

    padding: 20px;
    height: 125px;
}

.header-nav img {
    height: 40px;
}


.Calendar1 {
    width: 70%;
    height: auto;
    font-family: 'Inter','Roboto', 'arial', sans-serif;
    
}


.col-md-4 {
   border-color: none;
   margin-left: auto;
   margin-right: auto;
   padding: 5px;
   float: none;
}


.btn-primary {
    background-color: white;
    border-color: #7fba02;
    border-width: 2px;
    border-radius: 10px;
    color: #7fba02;
    font-size: 15px;

}


.currentweek {
    padding: 5px;
    font-size: 15px;
}

.btn-group {
    margin-left: 20px;
    padding-left: 0px;
    padding: 5px; 
    float: left;
    display: inline;
    font-size: 5px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #7fba02;
    border-color: #7fba02;
    color:white;
    border-width: 2px;
}

#newButton {
    color: white;
    border-radius: 100px;
    background-color: #7fba02;
    transform: translate(-50%, 0);
}

/*.cal-month-view .cal-header {
    background-color: #7fba02;}


.cal-week-view .cal-day-headers .cal-header:first-child {
    background-color: #7fba02; }
    */

::ng-deep .cal-week-view .cal-day-headers {
    background-color: #7fba02;
    border-color: none;
}

mwldroppable .cal-header .cal-past .cal-weekend {
    background-color: #7fba02;
}

.cal-week-view * {
    background-color: #7fba02;
}