/*Custom Code by Sahil Pyakurel and Michael Dorado
 These codes are custom for styling*/

.header-nav {

    padding: 20px;
    height: 125px;
    width: 70%;

}

.sidebarbutton{
    display: none;
}

.header-nav img {
    height: 40px;
}

.generate-mindfulness {
    border: none;
    background-color: #ebebeb;
    border-radius: 20px;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 0.4em;
    float: right;
    font-weight: 600;
    color: black;
}


.Calendar1 {
    width: 70%;
    height: auto;
    font-family: 'Inter','Roboto', 'arial', sans-serif;   
}


.col-md-4 {
   border-color: none;
   padding: 5px;
   min-width: 500px;
   width: 500px;
   margin: auto;
}


.btn-primary {
    background-color: white;
    border-color: #7fba02;
    border-width: 2px;
    border-radius: 100px;
    color: #7fba02;
}


.currentweek {
    padding: 5px;
    font-size: 15px;
}

.btn-group {
    margin-left: 20px;
    padding-left: 0px;
    padding: 5px; 
    float: left;
    display: inline;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #7fba02;
    border-color: #7fba02;
    color:white;
    border-width: 2px;
}

.add_event_area {
    position: relative;
    float: right;
}

.add_event_button {
    color: white;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: #7fba02;
    transform: translate(-50%, 0);
    font-weight: 700;
    font-size: 1.7em;
}

.add_event_button_text {
    visibility: hidden;
    position: absolute;
    right: 5em;
    width:10em;
    margin-top: -2.2em;
    font-size: 1.1em;
    font-weight: 600;
    color: #7fba02;
    text-align: right;
}

.add_event_area:hover .add_event_button_text, .add_event_area:focus .add_event_button_text {
    visibility: visible;
}
  



::ng-deep .buttons {
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
}

::ng-deep .col-md-4 {
    margin: auto;
}

@media (min-width: 768px) {
    ::ng-deep .col-md-4 {
        margin: auto;
        width: 50%;
    }
}

::ng-deep .currentweek[_ngcontent-srh-c83] {
    font-weight: 700;
    font-size: 3em;
}


::ng-deep #dateb {
    font-weight: 700;
    font-size: 1.2em;
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em;
}

::ng-deep .btn .btn-primary {
    font-weight: 700;
}

::ng-deep .cal-week-view .cal-day-headers{
    background-color: #7fba02;
    color: white;
}

::ng-deep .cal-week-view .cal-header.cal-today {
    background-color: white;
    color: #7fba02;
    border: 1px #7fba02;
}

::ng-deep .cal-week-view .cal-header.cal-weekend span{
    
    color: #7fba02;
  
}


::ng-deep .cal-week-view .cal-day-headers span {
    opacity: 100%;
}

::ng-deep .cal-week-view .cal-header.cal-weekend span {
    color: white;
}

::ng-deep .cal-week-view .cal-day-headers .cal-header:not(:last-child){
    border:none;
}

::ng-deep .cal-month-view .cal-header {
    background-color: #7fba02;
    color: white;
}
::ng-deep .cal-month-view .cal-header:hover {
    background-color: #7fba02;
    color: white;
}


.cal-week-view * {
    background-color: #7fba02;
}

::ng-deep .cal-month-view .cal-day-badge {
    background-color: #7fba02;
}

::ng-deep .cal-month-view .cal-day-cell.cal-weekend .cal-day-number{
    color:#7fba02;
}

::ng-deep .cal-week-view .cal-event{
    background-color: white;
    font-size: 1em;
    font-weight: bold;
    color: black;
    border: none;
    border-left: #7fba02;
    border-left-style: solid;
    border-left-width: 0.5em;
    border-radius: 0px;
    color: black, white;

}


::ng-deep .cal-week-view .cal-day-column{
    border: none;
}

::ng-deep .cal-week-view .cal-time-events{
    border: none;
}

::ng-deep .cal-week-view .cal-day-headers .cal-header:hover{
    background-color: #7fba02;
    color: white;
}


::ng-deep .cal-week-view .cal-current-time-marker {
    display: none;

}


@media only screen and (max-width: 800px){
   .Calendar1{
       width: 100%;
   }

   .col-md-4{
    text-align: center;
}
    #weekcalendar{
        display: none;
    }
    .sidebarbutton{
        display: inline;
        float: right;
        background-color: white;
        color: #7fba02;
        border: none;
        font-weight: 700;
        font-size: 2.5em;
        padding: 0px;
    }
    .sidepannelview{
        display: none;
    }
    

}
