<!--Custom Code Section By Michael Dorado and Sahil Pyakurel-->
<div class="header-nav">
  <a class="navbar-item" routerLink='../login' >
    <img src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">
  </a> 
  <button class="generate-mindfulness">⚡ Reduce Your Stress</button>
  <button class="sidebarbutton" >
    &#9776;
  </button>
  
</div>
<app-sidepanel class="sidepannelview"></app-sidepanel>


<div class="Calendar1">
  <div class="add_event_area">
  <button class="add_event_button" routerLink='../newevent'> + <!-- This is not working right now becuase I have created a form and achieved the same thing with that.-->
  </button>
  <p class="add_event_button_text">Add New Event</p>
  </div>
  
    <div class="buttons">

            <span class="btn-group">
                <button class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                    Month
                </button>
                <button id="weekcalendar" class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                    Week
                </button>
                <button class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                    Day
                </button>
            </span>

            <div class="col-md-4">
                
                <button class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                    &lt;
                </button>

                <span>
                    <span id="dateb"class="currentweek" mwlCalendarToday [(viewDate)]="viewDate">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
                </span>
            
                <button class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                    &gt;
                </button>
                <!--<div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                    &gt;
                </div>-->
                
            </div>
            

        
    </div>

    <!--imported calender UI-->
    <div [ngSwitch]="view">

        <mwl-calendar-month-view 
        (dayClicked)="dayClicked($event.day)" 
        *ngSwitchCase="CalendarView.Month" 
        [viewDate]="viewDate" 
        [events]="events"
        
        
        >
        </mwl-calendar-month-view>

        <mwl-calendar-week-view 
        *ngSwitchCase="CalendarView.Week" 
        [viewDate]="viewDate" 
        [events]="events"
        (eventClicked)="eventClicked($event)"
        [dayStartHour]=6
    
        >
        </mwl-calendar-week-view>

        <mwl-calendar-day-view 
        *ngSwitchCase="CalendarView.Day" 
        [viewDate]="viewDate" 
        [events]="events"
        (eventClicked)="eventClicked($event)"
        
        >
        </mwl-calendar-day-view>

    </div>
    

    <!--Input form that passes the varibales upon submitting. Temp code for later reference.>
    <form #addNewEvent = "ngForm" (ngSubmit) = "onClickSubmit(addNewEvent.value)" >

      <input type = "text" name = "Event" placeholder = "CS425 Midterm" ngModel>
        <br/>
         <input type = "datetime-local" name = "StartDate" placeholder = "04/21/2021" ngModel>
         <br/>
         <input type = "datetime-local" name = "EndDate" placeholder = "04/22/2021" ngModel>
         <br/>
         <input type = "submit" value = "submit">
    <button type="button" (click)='logout()'>Logout</button>
  
  </form-->

  <!--table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Event ID</th>
            <th>Event Name</th>
            <th>Event Type</th>
            <th>Event Location</th>
            <th>Event Notes</th>
            <th>Event StartDate</th>
            <th>Event EndDate</th>
            <th>Event StressLevel</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of EventsList">
            <td>{{event.EventID}}</td>
            <td>{{event.EventName}}</td>
            <td> {{event.EventType}}</td>
            <td>{{event.Location}}</td>
            <td>{{event.Notes}}</td>
            <td>{{event.StartDate}}</td>
            <td>{{event.EndDate}}</td>
            <td>{{event.StressLevel}}</td>
        </tr>
    </tbody>
</table-->

    
</div> 
<!--End of custom code section-->