<div class="header-nav">
  <a class="navbar-item" routerLink='../login' >
    <img src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">
  </a> 
</div>
<app-sidepanel></app-sidepanel>


<div class="Calendar1">
  <button class="btn btn-primary float-right" ID="newButton" > <!-- This is not working right now becuase I have created a from and achieved the same thing with that. It is commented out right now-->
    +
  </button>
    <div class="buttons">

            <span class="btn-group">
                <button class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                    Month
                </button>
                <button class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                    Week
                </button>
                <button class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                    Day
                </button>
            </span>

            <div class="col-md-4">
                
                <button class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                    &lt;
                </button>

                <span>
                    <span id="dateb"class="currentweek" mwlCalendarToday [(viewDate)]="viewDate">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
                </span>
            
                <button class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                    &gt;
                </button>
                <!--<div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                    &gt;
                </div>-->
                
            </div>
            

        
    </div>

    <div [ngSwitch]="view">

        <mwl-calendar-month-view 
        (dayClicked)="dayClicked($event.day)" 
        *ngSwitchCase="CalendarView.Month" 
        [viewDate]="viewDate" 
        [events]="events"
        
        
        >
        </mwl-calendar-month-view>

        <mwl-calendar-week-view 
        *ngSwitchCase="CalendarView.Week" 
        [viewDate]="viewDate" 
        [events]="events"
        (eventClicked)="eventClicked($event)"
    
        >
        </mwl-calendar-week-view>

        <mwl-calendar-day-view 
        *ngSwitchCase="CalendarView.Day" 
        [viewDate]="viewDate" 
        [events]="events"
        (eventClicked)="eventClicked($event)"
        
        >
        </mwl-calendar-day-view>

    </div>
    


    <!--form #addNewEvent = "ngForm" (ngSubmit) = "onClickSubmit(addNewEvent.value)" >

      <input type = "text" name = "Event" placeholder = "CS425 Midterm" ngModel>
        <br/>
         <input type = "datetime-local" name = "StartDate" placeholder = "04/21/2021" ngModel>
         <br/>
         <input type = "datetime-local" name = "EndDate" placeholder = "04/22/2021" ngModel>
         <br/>
         <input type = "submit" value = "submit">
  
  
  </form-->
    

    
</div> 