<title>Account</title>
<div class="header-nav">
    <a class="navbar-item" routerLink='../login' >
      <img src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">
    </a> 
  </div>
  <app-sidepanel class="sidepannelview"></app-sidepanel>

  <div class="account_info">
    <h1>Account overview</h1><br>
    <img class="user_icon" src= "../../assets/user-icon-temp.jpg">
    <h2>Jane Smith</h2>
    <h3>jsmith@tightrope.com</h3>
    <h4>Change Name ➜</h4>
    <h4>Change Email Address ➜</h4>
    <h4>Change Picture ➜</h4>
    <h4>Change Password ➜</h4>

    <input type="button" class="button-cancel" value="Cancel" routerLink='../home'>
    
  </div>
  
