<title>Account</title>
<div class="header-nav">
    <a class="navbar-item" routerLink='../home' >
      <img src= "../../assets/Tightrope-Logo-Green.png" alt="Tightrope">
    </a> 
  </div>
  <app-sidepanel class="sidepannelview"></app-sidepanel>

  <div class="account_info">
    <h1>Account overview</h1><br>
    <img class="user_icon" src= "../../assets/user-icon-temp.jpg">
    <h2>{{fullName}}</h2>
    <h3>{{Useremail}}</h3>
    <form class="updateAccount" (ngSubmit)="onSubmit()">
      <input class="firstName" type="text" id="firstName" name="firstName" [(ngModel)]="firstName_u" placeholder="Change First name ➜"><br>
      <input class="lastName" type="text" id="lastName" name="lastName" [(ngModel)]="lastName_u" placeholder="Change Last name ➜"><br>
      <input class="userName" type="email" id="userName" name="userName" [(ngModel)]="userName_u" placeholder="Change Email ➜"><br>
      <input class="Password" type="text" id="password" name="password" [(ngModel)]="password_u" placeholder="Change Password ➜"
        onfocus="(this.type='password')"><br>
      <input type="button" id="exportcalendar" value="Export Calendar" (click)="exportcal()">
      <input type="submit" value="Update">
      <input type="button" class="button-cancel" value="Cancel" routerLink='../home'>
      <input type="button" class="deactivateAccount" value="Deactivate Account" (click)="deactivate()" >
    </form>

   
     
  </div>
  
